body{
    background-color: cyan;
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
   
}
main{
    flex-direction: column;
    display: block;
  
}

label{
    padding: 2rem;
  display: block

}
button{
    display: block;
    margin: 2rem;
    
}